*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    width: 100%;
    min-height: 100vh;
}


body, #app, .flex {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}
#app{
    width: 100%;
}
